@import "./partials/variables.scss";

#shopping {
    background-color: $secondaryColor;

    .container {
        width: 60%;

        ul {
            height: 70px;
            display: flex;
            align-items: stretch;
            border-left: 1px solid $white;

            li {
                padding: 0px 10px;
                display: flex;
                align-items: center;
                border-right: 1px solid $white;
    
                a {
                    display: block;

                    img {
                        vertical-align: text-top;
                    }
                }
            }
        }
    }
}