#shopping {
  background-color: #969595;
}

#shopping .container {
  width: 60%;
}

#shopping .container ul {
  height: 70px;
  display: flex;
  align-items: stretch;
  border-left: 1px solid #FFF;
}

#shopping .container ul li {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  border-right: 1px solid #FFF;
}

#shopping .container ul li a {
  display: block;
}

#shopping .container ul li a img {
  vertical-align: text-top;
}

