@import "./variables.scss";


nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.logo {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;

        img {
            width: 100%;
        }
    }

    ul {
        max-width: 80%;
        text-align: center;

        li {
            display: inline-block;
            padding: 0px 20px;
            line-height: 86px;

            a {
                text-transform: uppercase;
                font-size: 0.9rem;
                font-weight: bold;
                display: inline-block;
                border-bottom: 4px solid transparent;

                &:hover {
                    border-color: $primaryColor;
                    color: $primaryColor;
                }
            }

            a.active {
                border-color: $primaryColor;
                color: $primaryColor;
            }
        }
    }
}