$primaryColor: #0082F9;
$secondaryColor: #969595;
$darkGrey: #1C1C1C;
$grey: #303030;
$lightGrey: #F6F6F6;
$green: #55BA59;
$lightGreen: #9AEA81;
$white: #FFF;
$black: #000;
$darkBlue: #013F5E;
$lightBlue: #09A9D9;
$gray: #D8D8D8;
